<!DOCTYPE html>
<html>
<head>
  <title>Mezentsev clinic</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/icons/fontello-589fd267/css/fontello.css">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/main.css">
  <link rel="icon" type="image/png" href="/icons/pngwing.com.png" sizes="32x32">
</head>

<body>
  {{> nav}}
  <div class="container" style="margin-top: 100px; max-width: 50%; border: 1px solid #BFBFBF">
      <div class="doctor-header">
        <h1>{{doctor.name}} {{doctor.surname}}, {{doctor.age}} років</h1>
      </div>
      <div class="divide">
        <hr style="display: block; border: 0; height: 0; border-bottom: 2px solid black; margin-top: -7px; width: 50%">
      </div>
      <div class="doctor-info">
        <div class="img" style="display: block;">
          <img src="{{doctor.image}}" alt="">
        </div>
      </div>
      <div class="doctor-head" style="margin-top: 50px;">
        <h2>Інформація про лікаря</h2>
        <div class="divide">
        <hr style="display: block; border: 0; height: 0; border-bottom: 2px solid black; margin-top: -7px; width: 50%">
        <p style="font-size: 22px;">{{doctor.description}}</p>
        </div>
      </div>
      <div class="doctor-spez" style="margin-top: 50px;">
        <h2>Спеціалізація</h2>
        <div class="divide">
        <hr style="display: block; border: 0; height: 0; border-bottom: 2px solid black; margin-top: -7px; width: 50%">
        <p style="font-size: 22px;">{{doctor.specialization}}</p>
        </div>
      </div>
      <div class="tel" style="margin-top: 50px;">
        <h2>Контактний номер</h2>
        <div class="divide">
        <hr style="display: block; border: 0; height: 0; border-bottom: 2px solid black; margin-top: -7px; width: 50%">
        <p style="font-size: 22px;">+{{doctor.tel}}</p>
        </div>
      </div>
      <div class="enroll" style="justify-content: center; display:flex; margin-bottom: 50px">
        <a class="btn btn-primary btn-sm " href="/appointment" role="button" style="font-size: 26px;">Записатися</a>
      </div>
  </div>
  <script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.js"></script>
  {{> footer}}
</body>
</html>
